

.filter-button {
  width: 100%;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 125px;
  font-size: 1.15em;
  color: #ddd;
  font-weight: bold;
  .icon {
    font-size: 2em;
  }
  &:hover {
    color: white !important;
    scale: 1.1;
    z-index: 20;
  }
}
.g-1 {
  background: rgba(48, 102, 122, 1);
}
.g-2 {
  background: linear-gradient(
    195deg,
    rgba(122, 124, 125, 1) 0%,
    rgba(53, 113, 135, 1) 51%,
    rgba(4, 52, 67, 1) 100%
  );
}
.g-3 {
  background: rgb(255, 32, 32);
  background: linear-gradient(
    195deg,
    rgba(255, 32, 32, 1) 0%,
    rgba(20, 165, 208, 1) 100%
  );
}
.g-4 {
  background: rgb(152, 22, 22);
}
