.main-nav {
  background-color: white !important;
  border-bottom: 1px solid gray;
  height: 80px;
  position: sticky;
  z-index: 100;
  top: 0;
}

.content-main {
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/assets/huaynapotosi.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(0.5);
  }
}
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 60px;
  height: 60px;
  margin-top: 0px;
  .icon {
    font-size: 2.5em !important;
  }
  &:hover {
    box-shadow: none !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}
.rectangle {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
  }
}

.triangle-down {
  width: 100%;
  height: 100px;
  background-color: #dc3545;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.triangle-up {
  width: 100%;
  height: 100px;
  background-color: #0c9ccb;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}


.titles {
  text-align: center;
  font-weight: bold;
  color: rgb(53, 139, 196);
}
.text {
  font-size: 1.15em;
  text-align: center;
  color: gray;
  font-weight: 300;
}



.desarrollador{
  color: black !important;
}